---
import Lightbox from "@/components/Modal/SvelteModal.svelte";
import PlaceholderImage from "./PlaceholderImage.astro";
const { alt, src } = Astro.props;
---

<div class="relative xl:min-h-full overflow-hidden">
  <PlaceholderImage alt={alt} src={src} />
  <Lightbox client:visible>
    <PlaceholderImage alt={alt} src={src}/>
  </Lightbox>
</div>
