---
const { alt, src } = Astro.props;
---

<div class="absolute inset-0 z-0 bg-gray-900">
  <img
    alt=""
    src={"https://res.cloudinary.com/srcouto/image/upload/c_scale,w_10,h_10/q_1/" +
      src +
      ".jpg"}
    width={10}
    height={10}
    class="z-10 relative w-full opacity-80 object-cover"
  />
</div>
<img
  src={"https://res.cloudinary.com/srcouto/image/upload/" +
    src +
    ".jpg"}
  width="1600"
  alt={alt}
  height="1600"
  class="z-10 relative  glightbox w-full animate__animated animate__fadeIn"
/>
