---
import CompareImage from "@/components/Lab/LabDalle/Compare/CompareImage.svelte";
---

<div
  id="ejemplo1"
  class="relative grid w-full pb-12 mx-auto scroll-mt-20 xl:grid-cols-2 bg-gray-900/50 bg-opacity-30 bg-gradient-to-b from-indigo-700 to-red-700"
>
  <div class="self-start text-left xl:sticky top-24">
    <div class="flex flex-col w-full max-w-xl px-8 py-24 pt-24 mx-auto font-mono text-lg md:text-xl">
      <small
        class="w-24 px-2 py-1 mb-3 font-mono text-xs font-medium text-center uppercase rounded-md shadow bg-gray-900/20"
      >
        Ejemplo 1
      </small>
      Generar textos con diferentes estilos.
      <p class="relative flex flex-col mt-3 font-serif text-4xl md:text-6xl">
        <span class="absolute text-6xl -top-1 -left-7 opacity-60">&ldquo;</span>
        Un conejo en paracaidas con una zanahoria.
        <span class="mt-6 font-mono text-sm">3d render | Pintura</span>
      </p>
    </div>
  </div>
  <div class="grid w-full max-w-xl gap-12 px-2 py-12 mx-auto">
    <div class="relative max-w-lg overflow-hidden rounded-br-none rounded-2xl">
      <div class="relative z-10 w-full mx-auto overflow-hidden font-mono text-xs font-bold compareImage">
        <CompareImage client:load />
      </div>
    </div>
    <div class="relative max-w-lg overflow-hidden rounded-br-none rounded-2xl">
      <div class="relative z-10 w-full mx-auto overflow-hidden font-mono text-xs font-bold compareImage">
        <CompareImage client:load />
      </div>
    </div>

    <div class="relative max-w-lg overflow-hidden rounded-br-none rounded-2xl">
      <div class="relative z-10 w-full mx-auto overflow-hidden font-mono text-xs font-bold compareImage">
        <CompareImage client:load />
      </div>
    </div>
    <div class="relative max-w-lg overflow-hidden rounded-br-none rounded-2xl">
      <div class="relative z-10 w-full mx-auto overflow-hidden font-mono text-xs font-bold compareImage">
        <CompareImage client:load />
      </div>
    </div>
  </div>
</div>
