<a
  href="/"
  class="logo fixed h-6 top-4 w-24 duration-1000 left-1 z-[999] flex group justify-center group mix-blend-difference"
  aria-label="STN - Volver al inicio"
>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 993.97 301">
    <path
      d="M334.56 9.7H617v285.1H334.56z"
      class="duration-1000 fill-[#e74547] group-hover:fill-gray-500"
    >
    </path>
    <circle cx="149" cy="152" r="149" class="duration-1000 fill-[#3086c1] group-hover:fill-gray-500">
    </circle>
    <path
      d="m822.5 303.73-85.74-148.5-85.73-148.5h342.94l-85.73 148.5-85.74 148.5"
      class="duration-1000 fill-[#ffd340] group-hover:fill-gray-500"
    >
    </path>
  </svg>
</a>

