<a href="/"  class="logo fixed h-6 top-4 w-24 duration-1000 left-0 z-[999] flex justify-center grayscale dark:grayscale-0" aria-label="STN - Volver al inicio" style="mix-blend-mode: difference;">
  <svg xmlns="http://www.w3.org/2000/svg" id="a" viewBox="0 0 181.5 55.1">
    <defs>
      <style>
        .c {
          fill: #3086c1;
        }
      </style>
    </defs>
    <path
      d="m150.2 0 15.6 27.2 15.7 27.1H119l15.6-27.1L150.2 0Z"
      style="fill:#f9e651"
    >
    </path>
    <circle cx="27.2" cy="27.9" r="27.2" class="c"> </circle>
    <circle cx="27.2" cy="27.9" r="27.2" class="c" style="clip-path:url(#b)">
    </circle>
    <path d="M60.5 1.3h53v53h-53v-53Z" style="fill:#e74547"> </path>
  </svg>
</a>
