---
import Gallery from "@/components/Galeria/Gallery.astro";
import GalleryHero from "@/components/Galeria/GalleryHero.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Galeria">
  <div class="w-full p-3 mx-auto bg-black">
    <GalleryHero/>
  </div>
  <div class="relative w-full bg-black bg-pattern scroll-mt-16">
    <Gallery />
  </div>
</Layout>
