---
import Gallery from "@/components/Lab/container-error-exitoso/Gallery.astro";
import GalleryHero from "@/components/Lab/container-error-exitoso/GalleryHero.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Container Fail">
  <div class="w-full p-3 mx-auto dark:bg-black">
    <GalleryHero/>
  </div>
  <div class="relative w-full dark:bg-black bg-pattern scroll-mt-16">
    <Gallery />
  </div>
</Layout>
