---
import Gallery from "@/components/Lab/containers/Gallery.astro";
import GalleryHero from "@/components/Lab/containers/GalleryHero.astro";
import Offcanvas from "@/components/Offcanvas/Offcanvas.vue";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Container Fail">
  <Offcanvas client:load />
  <div class="w-full p-3 mx-auto dark:bg-black">
    <GalleryHero/>
  </div>
  <div class="relative w-full dark:bg-black bg-pattern scroll-mt-16">
    <Gallery />
  </div>
</Layout>
