---
import ImageLightbox from "@/components/ImageLightbox/ImageLightbox.astro";
import CarouselSection from "@/components/Lab/LabDalle/Carousel/CarouselSection.astro";
import CompareSection from "@/components/Lab/LabDalle/Compare/CompareSection.astro";
import MenuDropdownPages from "@/components/Lab/LabDalle/MenuDropdownPages.jsx";
import Intro from "@/components/Lab/LabDalle/Intro/Intro.astro";
import Layout from "@/layouts/Layout.astro";
import VariationsSection from "@/components/Lab/LabDalle/Variations/VariationsSection.astro";

---

<Layout title="Dall - E">
  <MenuDropdownPages client:visible />
  <div
    class="flex flex-col justify-end w-full min-h-screen mx-auto text-center text-white bg-indigo-900"
  >
    <Intro />
    <CompareSection />
    <CarouselSection />
    <VariationsSection />
    <div
      class="grid grid-cols-2 gap-1 p-1 from-yellow-400 bg-gradient-to-b via-yellow-500 to-gray-900 scroll-mt-24 md:grid-cols-3"
      id="ejemplo4"
    >
      <ImageLightbox
        alt="Pintura de un rey conejo"
        src="v1654748378/santuan/history/01_13_spdx0t"
      />

      <ImageLightbox
        alt="Un congreso de gatos votando meow "
        src="v1654747690/santuan/history/01_0_tes00q"
      />
      <ImageLightbox
        alt="Render - Un oceano repleto de barquitos bajo una constelación de galaxias"
        src="v1654747810/santuan/history/01_19_jh8ikd"
      />
      <ImageLightbox
        alt="Una guitarra con una planta creciendo en su interior"
        src="v1654748288/santuan/history/01_75_giaebn"
      />
      <ImageLightbox
        alt="Pintura de Una ciudad de tardenoche con una luna brillando como un sol"
        src="v1654748221/santuan/history/01_79_bewrli"
      />
      <ImageLightbox
        alt="Arte digital de una niña sobre una casa en el arbol."
        src="v1654747800/santuan/history/ImageSequence032_mkwbse"
      />
      <ImageLightbox
        alt="Un conejo escuchando la radio - arte digital "
        src="v1654747651/santuan/history/01_4_fitcxc"
      />

      <ImageLightbox
        alt="Arte digital de una habitacion con una ventana gigante con una persona flotando en una nube"
        src="v1654747878/santuan/history/ImageSequence030_wupe68"
      />
      <ImageLightbox
        alt="Arte digital de una habitacion con una ventana gigante con una persona flotando en una nube"
        src="v1654748340/santuan/history/004_6_oox3dv"
      />
      <ImageLightbox
        alt="Arte digital de una habitacion con una ventana gigante con una persona flotando en una nube"
        src="v1654747903/santuan/history/03_2_tur5ci"
      />
      <ImageLightbox
        alt="Arte digital de una habitacion con una ventana gigante con una persona flotando en una nube"
        src="v1654747866/santuan/history/01_49_blcwpq"
      />

      <ImageLightbox
        alt="Arte digital de una habitacion con una ventana gigante con una persona flotando en una nube"
        src="v1654748282/santuan/history/01_24_atkuzw"
      />
    </div>
  </div>
</Layout>
