---
import Gallery from "@/components/Lab/tipografias/Gallery.astro";
import GalleryHero from "@/components/Lab/tipografias/GalleryHero.astro";
import Offcanvas from "@/components/Offcanvas/Offcanvas.vue";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Container Fail">
  <Offcanvas client:load />
  <div class="w-full mx-auto dark:bg-gray-950">
    <GalleryHero />
  </div>
  <div
    class="relative pt-12 w-full md:px-0 px-3 dark:bg-gray-950"
  >
    <Gallery />
  </div>
</Layout>
