---
import Gallery from "@/components/Lab/tipografias/Gallery.astro";
import GalleryHero from "@/components/Lab/tipografias/GalleryHero.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Container Fail">
  <div class="w-full mx-auto dark:bg-black">
    <GalleryHero/>
  </div>
  <div class="relative w-full md:px-0 px-3 dark:bg-black bg-pattern scroll-mt-16">
    <Gallery />
  </div>
</Layout>
