---
import { Img } from "astro-imagetools/components";
import "@/styles/Swiper.css";
---

<div class="swiper mySwiperVariationes02">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654748131/santuan/history/01_61_tbi5wb.png"
        width={500}
        height={500}
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654748104/santuan/history/01_59_twfdch.png"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654748069/santuan/history/01_56_sce6xb.png"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654748049/santuan/history/01_58_bip9jf.png"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654748037/santuan/history/01_53_eopwxq.png"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script>
  import Swiper, { Navigation, Pagination } from "swiper";
  import "swiper/css";

  const swiper = new Swiper(".mySwiperVariationes02", {
    modules: [Navigation, Pagination],
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
