<div>
  <div class="overflow-x-auto overflow-y-hidden flex snap-x snap-mandatory">
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_440/v1654748309/santuan/history/01_51_kw7pv0.png"
    />
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_440/v1654748308/santuan/history/01_42_jw4b0n.png"
    />
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_440/v1654748281/santuan/history/01_46_ji4n2k.png"
    />
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_440/v1654748270/santuan/history/01_43_reejtr.png"
    />
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_440/v1654747866/santuan/history/01_49_blcwpq.png"
    />
  </div>
</div>
