---
import { Img } from "astro-imagetools/components";
import "@/styles/Swiper.css";
---

<div class="swiper mySwiperVariationes01">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_440/v1654748309/santuan/history/01_51_kw7pv0.png"
        width={500}
        height={500}
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_440/v1654748308/santuan/history/01_42_jw4b0n.png"
        width={500}
        height={500}
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_440/v1654748281/santuan/history/01_46_ji4n2k.png"
        width={500}
        height={500}
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_440/v1654748270/santuan/history/01_43_reejtr.png"
        width={500}
        height={500}
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_440/v1654747866/santuan/history/01_49_blcwpq.png"
        width={500}
        height={500}
      />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script>
  import Swiper, { Navigation, Pagination } from "swiper";
  import "swiper/css";

  new Swiper(".mySwiperVariationes01", {
    modules: [Navigation, Pagination],
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
