---
import { Img } from "astro-imagetools/components";
import '@/styles/Swiper.css';

---

<div class="swiper mySwiperVariationes03">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747828/santuan/history/01_68_z7izax.png"
        width={500}
        height={500}
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747825/santuan/history/01_63_ga6ipb.png"
        width={500}
        height={500}
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747796/santuan/history/01_69_lz2jig.png"
        width={500}
        height={500}
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747778/santuan/history/01_66_vtipyc.png"
        width={500}
        height={500}
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747673/santuan/history/01_65_utmpcx.png"
        width={500}
        height={500}
      />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script>
  import Swiper, { Navigation, Pagination } from "swiper";
  import "swiper/css";

  const swiper = new Swiper(".mySwiperVariationes03", {
    modules: [Navigation, Pagination],
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
