---
import { Img } from "astro-imagetools/components";
import "@/styles/Swiper.css";
---

<div class="swiper mySwiperVariationes04">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/v1654747643/santuan/history/01_8_e75xq5.png"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747639/santuan/history/01_9_hf4b07.png"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747637/santuan/history/00_vgnzgw.webp"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654748263/santuan/history/01_7_m8vvfb.png"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
    <div class="swiper-slide">
      <Img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747723/santuan/history/01_11_rfzapy.png"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script>
  import Swiper, { Navigation, Pagination } from "swiper";
  import "swiper/css";

  const swiper = new Swiper(".mySwiperVariationes04", {
    modules: [Navigation, Pagination],
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
