<div>
  <div class="overflow-x-auto overflow-y-hidden flex snap-x snap-mandatory">
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/v1654747643/santuan/history/01_8_e75xq5.png"
    />
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747639/santuan/history/01_9_hf4b07.png"
    />
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747637/santuan/history/00_vgnzgw.webp"
    />
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654748263/santuan/history/01_7_m8vvfb.png"
    />
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747723/santuan/history/01_11_rfzapy.png"
    />
  </div>
</div>
