<div>
  <div class="overflow-x-auto overflow-y-hidden flex snap-x snap-mandatory">
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747828/santuan/history/01_68_z7izax.png"
    />
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747825/santuan/history/01_63_ga6ipb.png"
    />
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747796/santuan/history/01_69_lz2jig.png"
    />
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747778/santuan/history/01_66_vtipyc.png"
    />
    <img
      class="snap-center aspect-square"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_600/v1654747673/santuan/history/01_65_utmpcx.png"
    />
  </div>
</div>
