---
import ImageLightbox from "@/components/ImageLightbox/ImageLightbox.astro";
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-3 pt-0 p-3 mx-auto" id="inicio">
  <div class="aspect-square" >
    <ImageLightbox
      alt="Un container roto sostenido por un canasto"
      src="v1706812546/container-error-exitoso/canasto_gvkvtf"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Un container roto sostenido por un valija"
      src="v1706920198/container-error-exitoso/valija2_zik6wz"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Un container roto sostenido por otra valija"
      src="v1706812364/container-error-exitoso/valija_uxej0k"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Un container roto sostenido por un cumple"
      src="v1706919739/container-error-exitoso/cumple_uhbwib"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Un container roto sostenido por un neumático."
      src="v1706919844/container-error-exitoso/goma_ec9f6u"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Un container roto sostenido por el gas de una silla"
      src="v1706919906/container-error-exitoso/metal_zq9rrq"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Un container roto sostenido por una madera. Se apoyand unos tacos de zapatos."
      src="v1706920268/container-error-exitoso/zapatos_mwpwvd"
    />
  </div>
  <div class="aspect-square" >
    <ImageLightbox
      alt="Detalle de los zapatos"
      src="v1706921201/container-error-exitoso/zapatos_zdcjdj"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Dos container rotos sostenidos por una madera y un cacho de vidrio enmarcado."
      src="v1706920364/container-error-exitoso/pares_tw4jrj"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Un container roto sostenido por un mesita"
      src="v1706920414/container-error-exitoso/mesita_gou2sx"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Un container roto sostenido por un bambu"
      src="v1706920467/container-error-exitoso/bambu_bzuyh1"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Un container roto sostenido por un estructura metálica hecha con anillos."
      src="v1706920514/container-error-exitoso/rejilla_lkv4i7"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Un container roto sostenido por una lampara ondulada."
      src="v1706921204/container-error-exitoso/lampara_ulch4b"
    />
  </div>


  <div class="aspect-square">
    <ImageLightbox
      alt="Un container roto sostenido por un cable que cuelga de la calle."
      src="v1706921202/container-error-exitoso/cable_evpeld"
    />
  </div>

  <div class="aspect-square" >
    <ImageLightbox
      alt="Un container roto sostenido por un carcasa de un equipo de cassette."
      src="v1706921202/container-error-exitoso/tocadisco_kvayzn"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Un container roto sostenido por un arbol"
      src="v1706921202/container-error-exitoso/arbol_ujotdo"
    />
  </div>


  <div class="aspect-square" >
    <ImageLightbox
      alt="Un container roto sostenido por un palo que apoya con lo justo."
      src="v1706921202/container-error-exitoso/palo_ve5tqb"
    />
  </div>
  <div class="aspect-square" >
    <ImageLightbox
      alt="Un container roto sostenido por los restos de una cama."
      src="v1706921202/container-error-exitoso/cama_x8w3rj"
    />
  </div>



  <div class="aspect-square" >
    <ImageLightbox
      alt="Un container roto sostenido por un caballete alto."
      src="v1706921202/container-error-exitoso/estetico_wunplr"
    />
  </div>


  <div class="aspect-square" >
    <ImageLightbox
      alt="Un container roto sostenido por un tacho aplastado."
      src="v1706921201/container-error-exitoso/tacho-mal_mdjbuv"
    />
  </div>

  <div class="aspect-square" >
    <ImageLightbox
      alt="Un container roto sostenido por un tacho bien puesto."
      src="v1706921201/container-error-exitoso/tacho-bien_wiouri"
    />
  </div>
</div>
