<div
  class="w-full grid grid-cols-6 mt-12 font-serif text-3xl h-screen relative z-[500] overflow-hidden gap-3"
>
  <div class="col-span-4">
    <img
    src="https://res.cloudinary.com/srcouto/image/upload/v1706811906/container-error-exitoso/348258289_1044107733661321_1560738546194492452_n_nkea4p.jpg"
    class="glightbox"
  />
  </div>
  <div class="flex md:col-span-2 items-center h-screen relative justify-center">
    <h1 class=" md:text-2xl font-mono pt-6 md:p-0">Containers</h1>
  </div>
</div>
