---
import ImageLightbox from "@/components/ImageLightbox/ImageLightbox.astro";
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-3 pt-0 p-3 mx-auto" id="inicio">
  <div class="aspect-square" >
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706812546/container-error-exitoso/canasto_gvkvtf"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706920198/container-error-exitoso/valija2_zik6wz"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706812364/container-error-exitoso/valija_uxej0k"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706919739/container-error-exitoso/cumple_uhbwib"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706919844/container-error-exitoso/goma_ec9f6u"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706919906/container-error-exitoso/metal_zq9rrq"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706920268/container-error-exitoso/zapatos_mwpwvd"
    />
  </div>
  <div class="aspect-square" >
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706921201/container-error-exitoso/zapatos_zdcjdj"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706920364/container-error-exitoso/pares_tw4jrj"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706920414/container-error-exitoso/mesita_gou2sx"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706920467/container-error-exitoso/bambu_bzuyh1"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706920514/container-error-exitoso/rejilla_lkv4i7"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706921204/container-error-exitoso/lampara_ulch4b"
    />
  </div>


  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706921202/container-error-exitoso/cable_evpeld"
    />
  </div>

  <div class="aspect-square" >
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706921202/container-error-exitoso/tocadisco_kvayzn"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706921202/container-error-exitoso/arbol_ujotdo"
    />
  </div>


  <div class="aspect-square" >
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706921202/container-error-exitoso/palo_ve5tqb"
    />
  </div>
  <div class="aspect-square" >
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706921202/container-error-exitoso/cama_x8w3rj"
    />
  </div>



  <div class="aspect-square" >
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706921202/container-error-exitoso/estetico_wunplr"
    />
  </div>


  <div class="aspect-square" >
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706921201/container-error-exitoso/tacho-mal_mdjbuv"
    />
  </div>

  <div class="aspect-square" >
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706921201/container-error-exitoso/tacho-bien_wiouri"
    />
  </div>
</div>
