<div
  class="w-full grid grid-cols-6 mt-12 font-serif text-3xl h-screen relative z-[500] overflow-hidden gap-3"
>
  <div class="col-span-4">
    <img
    src="https://res.cloudinary.com/srcouto/image/upload/c_scale,w_700/q_80/v1706811906/container-error-exitoso/348258289_1044107733661321_1560738546194492452_n_nkea4p.webp"
    class="glightbox w-full"
    width="700"
    height="875"
    alt="Una replica de El beso de Gustav Klimt apoyado en un container de basura."
  />
  </div>
  <div class="flex md:col-span-2 items-center h-screen relative justify-center">
    <h1 class="text-xl md:text-4xl bg-white dark:bg-black p-1 inline-flex cursor-default font-mono md:p-0">Containers</h1>
  </div>
</div>
