---
import ImageLightbox from "@/components/ImageLightbox/ImageLightbox.astro";
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-1 p-3 mx-auto md:p-0 md:pt-1">
  <div class="aspect-square" id="ejemploBlender">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/567_vpomfk"
      
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/456_xcnfky"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/789_itwybi"
      
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/234_vanwyt"
      
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/345_tw9zas"
      
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/123_lw5jtv"
      
    />
  </div>

  <div class="col-span-3">
    <img
      class="aspect-video glightbox w-full"
      alt="Ancho de banda de la conciencia "
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_1800/v1630559191/stn-renders/untitled_i27pcx.webp"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/1_a6qw3t"
      
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/2_iutptm"
      
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/3_nveu2c"
      
    />
  </div>

  <div class="aspect-square">
    {/* <div class="relative cursor-pointer"> */}
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/_h1_vmxxse"
      
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/_h2_oiho30"
      
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/_h3_xjzkrc"
      
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/k_vjbeow"
      
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/k3_arwhkt"
      
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/k5_nzy74z"
      
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/03_m7w1gy"
      
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/02_txgqvw"
      
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1630556712/stn-renders/01_rnph0p"
      
    />
  </div>

  <div class="col-span-3 md:col-span-1">
    <ImageLightbox
      alt="item"
      src="v1630556712/stn-renders/12_vddpy4"
      
    />
  </div>

  <div class="col-span-3 md:col-span-1">
    <ImageLightbox
      alt="item"
      src="v1630556712/stn-renders/14_bmzdy6"
      
    />
  </div>

  <div class="col-span-3 md:col-span-1">
    <ImageLightbox
      alt="item"
      src="v1630556712/stn-renders/13_vrxkt2"
      
    />
  </div>

  <div class="col-span-3">
    {/* <div class="relative w-auto h-auto col-span-3 cursor-pointer md:w-full md:h-full"> */}
    <img
      alt="item"
      class="w-full glightbox"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_1800/v1629232358/stn-renders/18_ec7kli.webp"
    />
  </div>

  <div class="col-span-3">
    {/* <div class="relative w-auto h-auto col-span-3 cursor-pointer md:w-full md:h-full"> */}
    <img
      alt="item"
      class="w-full glightbox"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_1800/v1629238430/stn-renders/11_vhlp38.webp"
    />
  </div>

  <div class="col-span-3 md:col-span-1">
    <ImageLightbox
      alt="item"
      src="v1630556712/stn-renders/04_rhcw2f"
      
    />
  </div>

  <div class="col-span-3 md:col-span-1">
    <ImageLightbox
      alt="item"
      src="v1630556712/stn-renders/02_blemta"
      
    />
  </div>

  <div class="col-span-3 md:col-span-1">
    <ImageLightbox
      alt="item"
      src="v1630556712/stn-renders/01_ujdfvc"
      
    />
  </div>

 
</div>
