---
import ImageLightbox from "@/components/ImageLightbox/ImageLightbox.astro";
---

<div
  class="grid grid-cols-3 gap-1 p-2 mx-auto md:p-0 md:pt-1 scroll-mt-14"
  id="inicio"
>
  <div class="aspect-square">
    <ImageLightbox
      alt="Monumento visto desde abajo a contraluz del sol, en un cielo parcialmente nublado."
      src="v1630556712/stn-renders/1_a6qw3t"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="El monumento y tres formas del mismo material. que estan casi a la sombra del monumento."
      src="v1630556712/stn-renders/2_iutptm"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Perspectiva desde el monumento, Se ve su sombra con y tres objetos de la materialidad del piso y las paredes."
      src="v1630556712/stn-renders/3_nveu2c"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="De frente. Una silla futuristica y roja con diagonales lineas negras. Objetos luminosos se apoyan sobre la silla."
      src="v1630556712/stn-renders/_h1_vmxxse"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Misma silla vista levemente desde abajo y a la izquierda. No se observa una bola que esta detras de la silla. "
      src="v1630556712/stn-renders/_h2_oiho30"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Detalle de la silla, la bola y los objetos luminosos."
      src="v1630556712/stn-renders/_h3_xjzkrc"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Un anillo negro y circulos blancos que emanan de su interior."
      src="v1630556712/stn-renders/k_vjbeow"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Mismo anillo con los círculos blancos saliendo todos del circulo."
      src="v1630556712/stn-renders/k3_arwhkt"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Los circulos blancos se alejan del anillo y flotan."
      src="v1630556712/stn-renders/k5_nzy74z"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Un rectangulo blanco sobre una superficie que sube y baja. La sombra se va creando opuesto a la luz."
      src="v1630556712/stn-renders/03_m7w1gy"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Un triángulo blanco. La sombra está en el fondo fondo."
      src="v1630556712/stn-renders/02_txgqvw"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Un anillo blanco por dentro y negro por fuera. La luz está dentro"
      src="v1630556712/stn-renders/01_rnph0p"
    />
  </div>

  <div class="col-span-3 md:col-span-1">
    <ImageLightbox
      alt="Cuadrados rojos dentro de cuadrados rojos. Cada cuadrado es único e irrepetible."
      src="v1630556712/stn-renders/12_vddpy4"
    />
  </div>

  <div class="col-span-3 md:col-span-1">
    <ImageLightbox
      alt="Visto a 45 grados, los cuadrados ahora parecen habitaciones y sus bordes las paredes. En el centro ultimos y más pequeños cuartos emanan su propia luz. "
      src="v1630556712/stn-renders/14_bmzdy6"
    />
  </div>

  <div class="col-span-3 md:col-span-1">
    <ImageLightbox
      alt="La vista anterior alejada. Hay otros cuartos blancos y espacios secos."
      src="v1630556712/stn-renders/13_vrxkt2"
    />
  </div>
  
  <div class="aspect-square">
    <ImageLightbox
      alt="Una bola blanca y metalizada cae desde arriba golpeando una columna hecha de diminutos cubos rojos."
      src="v1630556712/stn-renders/567_vpomfk"
    />
  </div>
  <div class="aspect-square">
    <ImageLightbox
      alt="Bola blanca rompiendo esa columna justo en el centro mientras se refleja en ella los cubos volando."
      src="v1630556712/stn-renders/456_xcnfky"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="La mitad superior de la columna de cubos explota. Abajo se ven árboles."
      src="v1630556712/stn-renders/789_itwybi"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="En el fondo de la columna, hay una luz brillando de manera intensa en el fondo."
      src="v1630556712/stn-renders/234_vanwyt"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Visto desde arriba, pareciera que la columna se abre como una flor."
      src="v1630556712/stn-renders/345_tw9zas"
    />
  </div>

  <div class="aspect-square">
    <ImageLightbox
      alt="Columna de cubos rojos con una luz brillando en su interior."
      src="v1630556712/stn-renders/123_lw5jtv"
    />
  </div>

  <div class="col-span-3">
    <img
      class="aspect-video glightbox w-full hover:opacity-80 duration-300"
      alt="Una jaula que se percibe como un queso con agujeros. Flota en un espacio azul con una fuente de luz encerrada."
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_1800/v1630559191/stn-renders/untitled_i27pcxwebp"
    />
  </div>

  

  <div class="col-span-3">
    {
      /* <div class="relative w-auto h-auto col-span-3 cursor-pointer md:w-full md:h-full"> */
    }
    <img
      alt="Dentro de un caleidoscopio una anillo de espejos. Dentro una luz se extiende saliendo del caleidoscopio."
      class="w-full glightbox hover:opacity-80 duration-300"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_1800/v1629232358/stn-renders/18_ec7kliwebp"
    />
  </div>

  <div class="col-span-3">
    {
      /* <div class="relative w-auto h-auto col-span-3 cursor-pointer md:w-full md:h-full"> */
    }
    <img
      alt="Bola blanca flotando en un líquido viscoso en un ambiente gaseoso."
      class="w-full glightbox hover:opacity-80 duration-300"
      src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_1800/v1629238430/stn-renders/11_vhlp38webp"
    />
  </div>

  <div class="col-span-3 md:col-span-1">
    <ImageLightbox
      alt="Un cono con un cono igual dentro. Un bola blanca detras. Arriba y abajo un territorio de arena. "
      src="v1630556712/stn-renders/04_rhcw2f"
    />
  </div>

  <div class="col-span-3 md:col-span-1">
    <ImageLightbox
      alt="Un cono. Una bola blanca detras.  Arriba y abajo un territorio de arena. "
      src="v1630556712/stn-renders/02_blemta"
    />
  </div>

  <div class="col-span-3 md:col-span-1">
    <ImageLightbox
      alt="Un cono. Arriba y abajo un mar de curvas."
      src="v1630556712/stn-renders/01_ujdfvc"
    />
  </div>
</div>
