---
import Layout from "@/layouts/Layout.astro";
import Canvas from "@/components/Canvas";

---

<Layout title="Recursos">
  <div class="w-full h-screen">
    <Canvas client:only="react" />
  </div>
</Layout>
