---
import ImageLightbox from "@/components/ImageLightbox/ImageLightbox.astro";
---

<h2 class="sr-only">Las tipografías están balanceadas de manera óptica. Pueden percibirse simetricas y eso es directa consecuencia de su balanceo.
  En cáligrafia el trazo grueso baja y el fino sube. La materialidad del papel y su fricción con el pincel así lo determinan. Una tipografia diseñada en un computador, usada en mayúsculas e impresa en 3 dimensiones con el objetivo de ser colgada en un comercio correrá el riesgo de ser indebidamente colocada. </h2>

<div class="md:columns-2 max-w-6xl gap-12 mx-auto scroll-mt-14" id="inicio">
  <div class="">
    <img
      src="https://res.cloudinary.com/srcouto/image/upload/v1707087259/tipografias.reves/tipografifas-4_l9kytb.webp"
      width="1600"
      alt=""
      height="1600"
      class="z-10 relative glightbox w-full animate__animated animate__fadeIn"
    />
  </div>
  <div class="mt-12">
    <img
      src="https://res.cloudinary.com/srcouto/image/upload/v1707087259/tipografias.reves/tipografifas-3_gprts1.webp"
      width="1600"
      alt=""
      height="1600"
      class="z-10 relative glightbox w-full animate__animated animate__fadeIn"
    />
  </div>

  <div class="mt-12">
    <img
      src="https://res.cloudinary.com/srcouto/image/upload/v1707087258/tipografias.reves/tipografifas-5_sid1y8.webp"
      width="1600"
      alt=""
      height="1600"
      class="z-10 relative glightbox w-full animate__animated animate__fadeIn"
    />
  </div>
  <div class="mt-12">
    <img
      src="https://res.cloudinary.com/srcouto/image/upload/v1707087258/tipografias.reves/tipografifas-1_keghyr.webp"
      width="1600"
      alt=""
      height="1600"
      class="z-10 relative glightbox w-full animate__animated animate__fadeIn"
    />
  </div>
</div>
