---
import Example from "./example.astro";
---

<div
  class="w-full flex justify-center items-center font-serif overflow-hidden h-screen relative z-[500] gap-3"
>
  <div class="flex items-center h-96 z-10 max-w-7xl mx-auto px-4 lg:p-0 gap-1 w-full flex-col relative justify-center">
    <Example/>
  </div>
</div>
