<div
  class="w-full grid font-serif overflow-hidden h-screen mb-12 relative z-[500] gap-3"
>
  <div class="flex items-center z-10 gap-2 flex-col relative justify-center">
    <h1 class="text-2xl md:text-6xl font-serif">Tipografías</h1>
    <h2 class="text-2xl md:text-3xl font-mono tracking-wider font-bold uppercase">colgadas al revés</h2>
  </div>
  <div class="absolute inset-0 opacity-10 z-0">
    <img
      src="https://res.cloudinary.com/srcouto/image/upload/v1707088162/tipografias.reves/back-tipografifas-2_aqtzpt.webp"
      width="1600"
      alt=""
      height="1600"
      class="z-10 relative h-screen w-full  glightbox object-cover animate__animated animate__fadeIn"
    />
  </div>
</div>
