---
// import { Img } from "astro-imagetools/components";
import '@/styles/Swiper.css';

---

<div class="swiper mySwiper03">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/v1654060112/santuan/tokens/4/DALL_E_2022-05-27_22.14.30_to64th.webp"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
    <div class="swiper-slide">
      <img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/v1654060112/santuan/tokens/4/DALL_E_2022-05-27_22.14.58_bvkptt.webp"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
    <div class="swiper-slide">
      <img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/v1654060102/santuan/tokens/4/DALL_E_2022-05-27_22.15.46_dtsxky.webp"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
    <div class="swiper-slide">
      <img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/v1654060117/santuan/tokens/4/DALL_E_2022-05-27_22.14.46_zo2jvn.webp"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
    <div class="swiper-slide">
      <img
        alt="Variacion Dall-E"
        src="https://res.cloudinary.com/srcouto/image/upload/v1654060112/santuan/tokens/4/DALL_E_2022-05-27_22.15.34_zf8vgl.webp"
        width={500}
        height={500}
        loading="lazy"
        decoding="async"
        layout="fixed"
        placeholder="blurred"
        format="webp"
      />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper, { Navigation, Pagination } from "swiper";
  import "swiper/css";

  const swiper = new Swiper(".mySwiper03", {
    modules: [Navigation, Pagination],
    loop: true,
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
