---
function getRandomInt(max: number) {
  return Math.floor(Math.random() * max);
}

console.log(getRandomInt(3));

const random = getRandomInt(3);

let answer = "";

if (random === 0) {
  answer = "/lab/tipografias";
} else if (random === 1) {
  answer = "/lab/containers";
} else if (random === 2) {
  answer = "/lab/renders";
}
---

<div
  class="relative flex flex-col items-center justify-center min-h-screen overflow-hidden text-center dark:bg-gray-900 shadow-sm bg-pattern"
>
  <div
    class="relative z-50 w-full px-8 mx-auto mt-24 mb-2 text-left md:mt-8 max-w-7xl"
  >
    <div class="w-full font-serif text-3xl text-left md:text-6xl">
      <div
        class="flex-col w-full mt-2 flex justify-start items-start animate__animated animate__fadeIn animate__slower"
      >
        <h1
          class="font-bold bg-white dark:bg-gray-900 p-1 inline-flex cursor-default"
        >
          Nada que decir,
        </h1>
        <h2
          class="font-bold bg-white dark:bg-gray-900 p-1 inline-flex cursor-default group"
        >
          solo <a
            href={answer}
            class="inline-block group-hover:opacity-100 ml-3 text-orange-300 duration-1000"
          >
            <span class="iniciar iniciar--dia">mostrar.</span>
          </a>
        </h2>
      </div>
    </div>
  </div>
</div>
<div
  class="scale-75 md:scale-50 origin-center duration-1000 object-cover w-full h-screen top-0 left-0 object-right z-0 md:object-center fixed inset-0"
>
  <video
    autoplay
    loop
    muted
    playsinline
    class="object-cover w-full h-screen absolute top-0 left-0 object-right z-0 md:object-center"
    poster="https://res.cloudinary.com/srcouto/video/upload/c_scale,q_auto:eco,w_763/v1628508273/encoder/herohdsantuan0001-0250_wpgean.webp"
  >
    <source
      src="https://res.cloudinary.com/srcouto/video/upload/q_auto:eco/v1628057438/encoder/herohdsantuan0001-0250_wpgean.mp4"
      type="video/mp4"
    />
    <source
      src="https://res.cloudinary.com/srcouto/video/upload/q_auto:eco/v1628057438/encoder/herohdsantuan0001-0250_wpgean.webm"
      type="video/webm"
    />
    <source
      src="https://res.cloudinary.com/srcouto/video/upload/q_auto:low/v1628128970/encoder/herohdsantuan0001-0250_wpgean.ogv"
      type="video/ogg"
    />
  </video>
</div>

<style>
  .iniciar {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
  }

  .iniciar::before,
  .iniciar::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
  }

  .iniciar::before {
    content: "";
    /* show by default */
  }

  .iniciar--dia {
  }

  .iniciar--dia::before,
  .iniciar--dia::after {
    opacity: 0.5;
    transform-origin: 50% 0%;
    transform: translate3d(0, 3px, 0);
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
  }

  .iniciar--dia:hover::before,
  .iniciar--dia:hover::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
  }

  .iniciar--dia::after {
    content: "";
    top: calc(100% + 10px);
    width: 70%;
    left: 15%;
  }

  .iniciar--dia::before,
  .iniciar--dia:hover::after {
    transition-delay: 0.1s;
  }

  .iniciar--dia:hover::before {
    transition-delay: 0s;
  }
</style>
