---
import ImageLightbox from "@/components/ImageLightbox/ImageLightbox.astro";
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-3 pt-0 p-3 mx-auto">
  <div class="aspect-square" id="inicio">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706812546/container-error-exitoso/canasto_gvkvtf"
    />
  </div>
  <div class="aspect-square" id="inicio">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706812544/container-error-exitoso/valija2_pyma1h"
    />
  </div>
  <div class="aspect-square" id="inicio">
    <ImageLightbox
      alt="Ancho de banda de la conciencia "
      src="v1706812364/container-error-exitoso/valija_uxej0k"
    />
  </div>
   

</div>
