<div
  class="w-full grid grid-cols-6 mt-12 font-serif text-3xl h-screen relative z-[500] overflow-hidden gap-3"
>
  <div class="col-span-4">
    <img
    src="https://res.cloudinary.com/srcouto/image/upload/v1706811906/container-error-exitoso/348258289_1044107733661321_1560738546194492452_n_nkea4p.jpg"
  />
  </div>
  <div class="flex col-span-2 items-center h-screen relative justify-center">
    <h1 class="sticky text-2xl top-12">Container Error Exitoso</h1>
  </div>
</div>
