<div
  class="relative w-full pb-12 mx-auto scroll-mt-20 bg-gradient-to-b from-blue-800 via-red-800 to-amber-800"
>
  <div class="w-full max-w-5xl mx-auto grid xl:grid-cols-2 relative">
    <div class="self-start text-left xl:sticky top-24">
      <div
        id="ejemplo1"
        class="outline-none flex flex-col w-full max-w-xl px-8 py-24 pt-24 mx-auto font-mono text-lg md:text-xl"
      >
        <small
          class="flex-none w-24 px-2 py-1 mb-3 font-mono text-xs font-medium text-center uppercase rounded-md shadow bg-gray-900/20"
        >
        Estilos
        </small>
        <p class="relative flex flex-col mt-3 font-serif text-4xl md:text-6xl">
          <span class="absolute text-6xl -top-1 -left-7 opacity-60">
            &ldquo;
          </span>
          Un conejo en paracaidas con una zanahoria.
          <span class="mt-6 font-mono text-sm"
            >3d render | Pintura | Fotografía</span
          >
        </p>
      </div>
    </div>
    <div class="grid w-full max-w-xl gap-32 px-8 md:px-2 py-12 mx-auto">
      <div class="relative w-full overflow-hidden rounded-2xl ">
        <div
          class="relative z-10 w-full mx-auto overflow-hidden  font-mono text-xs font-bold aspect-square"
        >
          <img
            src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_650/v1654018509/santuan/DALL_E_2022-05-29_10.31.54_rgditm.jpg"
            class="glightbox"
          />
        </div>
      </div>
      <div class="relative w-full overflow-hidden rounded-2xl ">
        <div
          class="relative z-10 w-full mx-auto overflow-hidden  font-mono text-xs font-bold aspect-square"
        >
          <img
            src="https://res.cloudinary.com/srcouto/image/upload/c_scale,q_auto:eco,w_650/v1654018485/santuan/DALL_E_2022-05-29_10.34.24_dnxu0u.jpg"
            class="glightbox"
          />
        </div>
      </div>

      <div class="relative w-full overflow-hidden rounded-2xl ">
        <div
          class="relative z-10 w-full mx-auto overflow-hidden  font-mono text-xs font-bold aspect-square"
        >
          <img
            src="https://res.cloudinary.com/srcouto/image/upload/c_scale,h_650,q_auto:eco/v1683645038/santuan/tokens/02_i04yo7.jpg"
            class="glightbox"
          />
        </div>
      </div>
    </div>
  </div>
</div>
   